.basic-info-container {
    width: 543px;
    height: 117px;
    background-color: #fff;
    border: 1px solid;
    border-color: #b9b8b8;
    border-radius: 4px;
    margin-top: -5px;
    margin-bottom: 11px;
}
.first-container {
    display: flex;
}

.first-inner-container {
    padding-top: 24px;
    padding-left: 21px;
}

.address-container{
    margin-left: 51px;
}

.basic-header {
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    color: #605c5c;
}
.basic-detail {
    font-family: Roboto;
    font-size: 17px;
    font-weight: bold;
    color: #333;
}

.basic-line-detail {
    margin-top: 0;
    margin-bottom: 0;
}
.see-more {
    text-align: right;
    margin-right: 30px;
    margin-top: -18px;
}

::ng-deep {
    .loader {
        margin-top: 12px;
        margin-left: 45px;
        margin-bottom: 0px !important;
        width: 84% !important;
        height: 18px !important;
    }
}

.see-more-link a{
    text-decoration: none;
    color: #075ab4;
    font-size: 14px;
    font-weight: bold;
    font-family: Roboto;
}
    