<div class="basic-info-container">
    <div class="first-container">
        <div class="first-inner-container">
            <div class="basic-header">Basic Information</div>
            <div class="basic-detail">
                <p class="basic-line-detail">{{basicInfoData.abpnr}}</p>
                <p class="basic-line-detail">{{basicInfoData.namn}}</p>
            </div>
        </div>
        <div class="first-inner-container address-container">
            <div class="basic-header">Address:</div>
            <div class="basic-detail">
                <p class="basic-line-detail">
                <span>{{basicInfoData.gatuadr}}</span>&nbsp;
                <span>{{basicInfoData.postnr}}</span>&nbsp;
                <span>{{basicInfoData.postadr}}</span>
                </p>
            </div>
        </div>
    </div>
    
    <div class="see-more">
        <p class="see-more-link"><a href="javasript:void(0)">See more ></a></p>
    </div>
    
    
</div>