    <div class="sidenav">
        <div class="sidnav-menu-list">
            <i class="fa fa-balance-scale icon-style"  aria-hidden="true"></i>
            <p class="menu-text">Private Score</p>
        </div>
        <div class="sidnav-menu-list">
            <i class="fa fa-american-sign-language-interpreting icon-style" aria-hidden="true"></i>
            <p class="menu-text">Business Score</p>
        </div>
        <div class="sidnav-menu-list">
            <i class="fa fa-anchor icon-style"  aria-hidden="true"></i>
            <p class="menu-text">Business Credit</p>
        </div>
      </div>
