.sidenav {
    min-height: 193.4%;
    width: 155px;
    margin-top: 94px;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
  }


.sidnav-menu-list {
  height: 102px;
  border-bottom: 2px solid;
  border-color: #eee;
}

.sidnav-menu-list:hover{
    background-color: #250e62;
    color: #fff;
  }

.icon-style {
    font-size: 32px;
    position: relative;
    left: calc(44% - 10px);
    top: calc(50% - 10px);
}

.menu-text {
    text-align: center;
    top: calc(40% - 10px);
    position: relative;
}
  


