// button css
.main{
    .btn-dark{
        border-radius: 4px;
        box-shadow: 0 0.5px 0 0 rgba(0, 0, 0, 0.15);
        border: solid 0.5px rgba(0, 0, 0, 0.1);
        background-color:#2d3642;
        padding:7px 20px;
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        color: #eeeeee;
        line-height: inherit;
        &.tab_button{
          position: relative;
          top:-5px;
        }
        &.btn-disabled{
          opacity: 0.2;
          pointer-events: none;
        // border-radius: 4px;
        // box-shadow: 0 0.5px 0 0 rgba(0, 0, 0, 0.15);
        // border: solid 0.5px rgba(0, 0, 0, 0.1);
        // background-color:#2d3642;
          color:#eeeeee;
         & .mat-button-wrapper{
            color:rgb(252, 252, 252)
          }
        }
      }
      
      
      .add-btn{
          // width: 30px;
          // height: 30px;
          border-radius: 4px;
          box-shadow: 0 0.5px 0 0 rgba(0, 0, 0, 0.15);
          line-height: inherit;
          min-width:inherit;
          margin:0 7px 0 0px;
          position: relative;
          padding: 7px 7px;
          top:3px;
          
          cursor: pointer;
          .icofont-plus{
            font-size: 16px;
            font-weight: bold;
            
          }
          &.add-dark{
            background-color:#2d3642;
            border: solid 0.5px rgba(0, 0, 0, 0.1);
            &.icofont-plus{
              color:#eeeeee;
            }
          }
          &.add-white{
            background-color: #ffffff;
            border:solid 0.5px #83868b;
            &.icofont-plus{
              color:#2d3642
            }
          }
          &.mat-but-disabled{
            pointer-events: none;
            background-color: #cccccc;
          }
        }
        // upload button
        .upload-btn{
          padding:7px 19px;
          border-radius: 4px;
          box-shadow: 0 0.5px 0 0 rgba(0, 0, 0, 0.15);
          border: solid 0.5px #83868b;
          background-color:#ffffff;
          font-family: $font-family-basae;
          font-size: 14px;
          text-align: center;
          color:#2d3642;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      //button disabled
     
}
.egret-indigo .mat-button[disabled][disabled]{
  pointer-events: none;
  background-color: #cccccc;
}
