@font-face {
  font-family: 'Roboto-Bold';
  src: url('../../assets/fonts/Roboto-Bold.eot');
  src: url('../../assets/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/Roboto-Bold.svg#Roboto-Bold') format('svg'), url('../../assets/fonts/Roboto-Bold.woff') format('woff'), url('../../assets/fonts/Roboto-Bold.woff2') format('woff2'), url('../../assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../../assets/fonts/Roboto-Regular.eot');
  src: url('../../assets/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/Roboto-Regular.svg#Roboto-Regular') format('svg'), url('../../assets/fonts/Roboto-Regular.woff') format('woff'), url('../../assets/fonts/Roboto-Regular.woff2') format('woff2'), url('../../assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
