/* Form css */

// @import "src/assets/styles/sass/_variables";
input::-webkit-input-placeholder {
  color: #BBBBBB !important;
  }
   
  input:-moz-placeholder { /* Firefox 18- */
  color: #BBBBBB !important;  
  }
   
  input::-moz-placeholder {  /* Firefox 19+ */
  color: #BBBBBB !important;  
  }
   
  input:-ms-input-placeholder {  
  color: #BBBBBB !important;  
  }
.mat-input-element{
  color: #000 !important;
}
.egret-indigo .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid.ng-touched .mat-form-field-outline-thick{
  color: #DD3030 !important;
}
.egret-indigo .mat-option:hover:not(.mat-option-disabled), .egret-indigo .mat-option:focus:not(.mat-option-disabled) {
  background: #075ab4 !important;
  color: #fff !important;
}
.egret-indigo .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline{
  background-color: #cccccc;
  pointer-events: none;
}
.egret-indigo .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple){
  background: #075ab4 !important;
  color: #fff !important;
}
.egret-indigo .mat-select-panel {
  background: rgba(247, 247, 247, 0.98) !important;
}
.egret-indigo .mat-error {
  color: #dd3030 !important;
  margin-left: 15px;
  transform: translateY(10px);
  -webkit-transform: translateY(10px);
  font-size: 12px;
  line-height: normal;
  letter-spacing: 0.3px;
}
.form-container{
    width:100%;
    float: left;
    position: relative;
    // padding-left:24px;
    // padding-top: 35px;
    padding-bottom: 25px;
    background-color: #ffffff;
    .padding-right_40{
        padding-right: 40px;
    }
    .pleft-40{
        padding-left: 40px;
    }
    .pright-16{
        padding-right: 16px;
    }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.descriptive-container{
  position: relative;
}
.searchList{
  margin: 0px;
  padding: 0px;
  li{
    display: inline-block;
    padding-right:7px;
    
  }
  
}

}
.form-container:after,.form-container::before{
    display: table;
    content: '';
}
.grid-txt{
  width: 375px;
  height: 38px;
  margin: 0px 0px 5px 0px;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color:#2d3642;
}
.headingSize{
  font-family: 'Roboto';
  width: 250px;
  height: 21px;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  margin: 20px 0px 4px 0px;
}
.inputField 
{
     .mat-form-field-flex{
            padding-bottom: 6px !important;
            background-color: #fff;
        }
        .mat-form-field-infix {
            /* padding: 0.5em 0 0.5em 0; */
            padding: 1%;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.3px;
            color: #bbbbbb;
          }
          .mat-form-field-wrapper {
            margin: 0 !important;
            padding-bottom: 0px !important;
            border-radius: 8px;
            // box-shadow: inset 1px 1px 1px 0 #cccccc;
            // border: solid 1px #cccccc;
            background-color: #fff;
        }
}
.input-selectField{
     background-image: linear-gradient(to bottom, #fefefe, #f3f3f3);
    .mat-form-field-infix {
        /* padding: 0.5em 0 0.5em 0; */
        padding: 1%;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.3px;
        color: #bbbbbb;
      }
      .mat-form-field-wrapper {
        margin: 0 !important;
        padding-bottom: 0px !important;
        border-radius: 8px;
        // box-shadow: inset 1px 1px 1px 0 #cccccc;
        // border: solid 1px #cccccc;
        background-color: #fff;
    }
    .mat-form-field-outline {
      background-image: linear-gradient(to bottom, #fefefe, #f3f3f3) !important;
     }
    &.select-country{
      width: 245px !important;
      
      // box-shadow: 0 0.5px 0 0 rgba(0, 0, 0, 0.15) !important;
      // border: solid 0.5px rgba(0, 0, 0, 0.1) !important;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.1px;
      color: #2d3642;
       & .mat-form-field-outline {
        background-image: linear-gradient(to bottom, #fefefe, #f3f3f3) !important;
       }
       & .mat-select-value span{
     
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.1px;
        color: #2d3642;
       }
    }
}
.mat-select {
    vertical-align: super !important;
  }
  .formHeight.mat-form-field {
    // width:83.216%;
    width:100%;
  }
  .egret-indigo .mat-input-element {
    caret-color: #3f51b5;
}
.egret-indigo .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid 
.mat-form-field-outline-thick{
  border: none !important;
}
mat-form-field-appearance-outline:hover{
  border: none !important;
}
.egret-indigo .mat-form-field-invalid .mat-input-element{
  color: #dd3030 !important;
}
   
    .mat-form-field-appearance-outline{
      & .mat-form-field-outline{
       
        outline: none;
        color:#83868b !important;
        border-radius: 8px;
        box-shadow: inset 1px 1px 1px 0 #cccccc;
        border-color: #83868b;
        background-color: #fff;
      }
      .mat-select-arrow-wrapper{
        transform: none !important;
      }
      .mat-form-field-outline-thick{
       
        border:none !important;
        border-radius: 8px !important;
      }
      & .mat-form-field-invalid .mat-form-field-outline-thick{
       
        opacity: 0.8!important;
        border: solid 1px #00e73a;
    }
  
    }
  
   .upload-container{
     & img{
       width:200px;
       margin-top:20px; 
       margin-bottom: 6px;
     }
     .hidden{
       display:none;
     }
     .grid-padding{
       padding-left: 0px !important;
     }
     .file-name{
      width: 91%;
    border-radius: 8px;
    box-shadow: inset 1px 1px 1px 0 #cccccc;
    border: solid 1px #83868b;
    background-color: #ffffff;
    float: left;
    padding: 7px 10px;
    margin-right: 10px;
    max-height: 35px;
    height: 45px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
     .format-img{
      width: 209px;
      height: 48px;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.6;
      letter-spacing: normal;
      color: #83868b;  
      .text-style{
        font-weight: bold;
      }
     
     }
     .delete-image{
      width: 218px;
      height: 36px;
      
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.29;
      letter-spacing: normal;
      color:#2d3642;
      margin-bottom: 10px;
      .text-style{
        font-weight: bold;
        color:#075ab4;
        cursor: pointer;
        margin-bottom: 0px;
        margin-top: 0px
      }
     }
   }
   .descriptive-container{
    .des-criptive{
   
    border-radius: 8px;
    margin-right: 10px;
    
    }
   
   }
   .searchList{
    list-style: none;
    padding-left: 1rem;
 
    .close-circle{
    font-size: 20px;
    cursor: pointer;
    color:#2d3642;
    }
    .list-text{
      font-family: 'Roboto';
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.14;
      letter-spacing: normal;
      padding-left:3px;
      color:#2d3642;
     }
   }
   .egret-indigo .mat-checkbox-indeterminate.mat-accent 
   .mat-checkbox-background, 
   .egret-indigo .mat-checkbox-checked.mat-accent
    .mat-checkbox-background{
      background-color: #075ab4 !important;
      border-radius: 3px;
      border: solid 0.5px #075ab4;
    
   }
   .mat-checkbox-checked .mat-checkbox-checkmark-path {
    stroke-dashoffset: 0 !important;
}
.egret-indigo .mat-checkbox-checkmark-path {
  stroke: #ffffff !important;
}
.mat-checkbox-checkmark-path {
 
  stroke-dasharray: 22.91026;
  stroke-width: 3.13333px !important;
}
.mat-checkbox-inner-container{
  width: 14px !important;
  height: 14px !important;
  border-radius: 3px !important;
}
// Radio button
.radio-button{
  & .mat-radio-outer-circle{
    width:14px;
    height: 14px;
    padding:2px 2px 2px 2px;
  }
  & .mat-radio-inner-circle{
    width:14px;
    height: 14px;
  }
  & .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color:rgba(0, 0, 0, 0.2);
  }
  & .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-inner-circle {
 
    background-color: #075ab4;
  }
  & .mat-radio-label-content{
    padding-left: 0px;
    font-size: 14px;
    margin-top: -5px;
  }
  
}
.info-circle{
  color:#075ab4;

}
.info-circle.circle-disabled{
  color:#cccccc;
}
.mat-checkbox-disabled{
  .mat-checkbox-inner-container{
    background-color: #ccc;
  }
}
input[type=number] {
  -moz-appearance:textfield;
}

.mat-tree-node:nth-child(1){
  padding: 0px 13px;
  & .mat-checkbox-layout .mat-checkbox-label{
  font-weight: bold;
  }
  }
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    margin-top: 1px;
    margin-left: 1px;
    width: 18px;
    height: 18px;
}
.egret-indigo .mat-checkbox-disabled .mat-checkbox-label{
  white-space: normal;
}
.box-heading{
  .mat-checkbox-checked.mat-accent .mat-checkbox-background{
    width:12px;
    height:12px;
  }
}
.box-list{
  .mat-checkbox-checked.mat-accent .mat-checkbox-background{
    width:12px;
    height:12px;
  }
//   .mat-radio-container{
//     width:13.9px;
//     height:13.9px;
// }
// .mat-radio-outer-circle{
//   width:13.9px;
//     height:13.9px;
// }
// .mat-radio-inner-circle {
//   height: 15px;
//   left: -1px;
//   top: -1px;
//   width: 15px;
 
// }
.mat-radio-container{
  height: 13.9px;
  width: 13.9px;
}
 .mat-radio-outer-circle{
  height: 13.9px;
  width: 13.9px;
}
.mat-radio-inner-circle{
  height: 13.9px;
  width: 13.9px;
}
 .mat-radio-button .mat-radio-ripple{
  height: 20px; //double of your required circle radius
  width: 20px;  //double of your required circle radius
  left: calc(50% - 10px); //'10px'-same as your required circle radius
  top: calc(50% - 10px); //'10px'-same as your required circle radius
}
}

.mat-form-field-disabled {
  pointer-events:none;
  .mat-input-element{
    pointer-events:none;
  }
}