.header-topnav {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  // box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  position: relative;
  z-index: 999;

  .container {
    padding: 0;
  }

  

  .topbar-branding {
    float: left;
    height: 48px;
    padding: 8px;
    margin: 0 8px;

    img {
      height: 100%;
      width: auto;
    }
  }

  .topnav {
    // margin-left: -19px;
    display: flex;
    align-items: center;
  }

  .header-topnav-right {
    float: right;
    height: 48px;
    display: flex;
    align-items: center;
    padding-right: .67rem;
  }
}
  //App list
.app_list {
  display: block;
  position: relative;
  min-height: 100px;
  margin: 0;
  padding-left: 0px;
  box-shadow: 0 2px 9px 0 #d7d7d7;
  background-color: #ffffff;
  text-align: left;
  white-space: normal;
  width: 192px;
}
.app_i {
  //padding: 1px;
  display: block;
  vertical-align: top;
  color: black;
  z-index: 999;
  position: relative;
  width: 100%;
  //border-bottom: 1px solid #d7d7d7;
  //padding-bottom:10px;
  //padding-top: 10px;
  //padding-left:31px;
  box-shadow: 0 1px 1px 0 #d7d7d7;
}
.app_i:hover, app_i:active {
  background-color: #250e62;

  .app_text {
    color: #fff;
  }
}

  .app_i:nth-child(2), .app_i:nth-child(4) {
    .app_link {
      // left:28px;
    }
  }

.app_link {
  /*position: absolute;;
      top: 0px;
      left:20px;*/
  text-decoration: none;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  display: block;
  padding-left: 31px;

  }

  .app_img {
    -webkit-background-size: 64px;
    background-size: 64px;
    display: inline-block;
    height: 64px;
    vertical-align: top;
    width: 75px;
  }

  .app_text {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.23px;
    text-align: center;
    color: #250e62;
  }

  @media (max-width: 959px) {
    .header-topnav-right {
      position: absolute;
      right: 6px;
      top: 0;
    }
  }

  [dir=rtl] {
    .header-topnav {
      .topnav {
        flex-direction: row-reverse;
      }
    }
  }

  .mat-menu-content:not(:empty) {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
