.land-wrapper {
  padding-right: 5px;
  padding-left: 5px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  top: 80px;
  background:#eee;
  .title {
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333330;
    margin-top:18px;
    margin-bottom:18px;
  }
}

@media (min-width:768px) {
  .land-wrapper {
    width: 750px
  }
}

@media (min-width:992px) {
  .land-wrapper {
    width: 970px
  }
}

@media (min-width:1200px) {
  .land-wrapper {
    width: 1040px
  }
}

container:after,
.container:before,
.rows:after,
.rows:before, .land-wrapper:after, .land-wrapper:before {
  display: table;
  content: " ";
}

.clearfix:after,
.container-fluid:after,
.container:after, .rows:after, .land-wrapper:after {
  clear: both;
}
.rows {
  margin-right: -15px;
  margin-left: -15px;
}
.lg-1,
.lg-10,
.lg-11,
.lg-12,
.lg-2,
.lg-3,
.lg-4,
.lg-5,
.lg-6,
.lg-7,
.lg-8,
.lg-9,
.md-1,
.md-10,
.md-11,
.md-12,
.md-2,
.md-3,
.md-4,
.md-5,
.md-6,
.md-7,
.md-8,
.md-9,
.sm-1,
.sm-10,
.sm-11,
.sm-12,
.sm-2,
.sm-3,
.sm-4,
.sm-5,
.sm-6,
.sm-7,
.sm-8,
.sm-9,
.xs-1,
.xs-10,
.xs-11,
.xs-12,
.xs-2,
.xs-3,
.xs-4,
.xs-5,
.xs-6,
.xs-7,
.xs-8,
.xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.xs-1,
.xs-10,
.xs-11,
.xs-12,
.xs-2,
.xs-3,
.xs-4,
.xs-5,
.xs-6,
.xs-7,
.xs-8,
.xs-9 {
  float: left;
}

.xs-12 {
  width: 100%;
}

.xs-11 {
  width: 91.66666667%;
}

.xs-10 {
  width: 83.33333333%;
}

.xs-9 {
  width: 75%;
}

.xs-8 {
  width: 66.66666667%;
}

.xs-7 {
  width: 58.33333333%;
}

.xs-6 {
  width: 50%;
}

.xs-5 {
  width: 41.66666667%;
}

.xs-4 {
  width: 33.33333333%;
}

.xs-3 {
  width: 25%;
}

.xs-2 {
  width: 16.66666667%;
}

.xs-1 {
  width: 8.33333333%;
}

.xs-pull-12 {
  right: 100%;
}

.xs-pull-11 {
  right: 91.66666667%;
}

.xs-pull-10 {
  right: 83.33333333%;
}

.xs-pull-9 {
  right: 75%;
}

.xs-pull-8 {
  right: 66.66666667%;
}

.xs-pull-7 {
  right: 58.33333333%;
}

.xs-pull-6 {
  right: 50%;
}

.xs-pull-5 {
  right: 41.66666667%;
}

.xs-pull-4 {
  right: 33.33333333%;
}

.xs-pull-3 {
  right: 25%;
}

.xs-pull-2 {
  right: 16.66666667%;
}

.xs-pull-1 {
  right: 8.33333333%;
}

.xs-pull-0 {
  right: auto;
}

.xs-push-12 {
  left: 100%;
}

.xs-push-11 {
  left: 91.66666667%;
}

.xs-push-10 {
  left: 83.33333333%;
}

.xs-push-9 {
  left: 75%;
}

.xs-push-8 {
  left: 66.66666667%;
}

.xs-push-7 {
  left: 58.33333333%;
}

.xs-push-6 {
  left: 50%;
}

.xs-push-5 {
  left: 41.66666667%;
}

.xs-push-4 {
  left: 33.33333333%;
}

.xs-push-3 {
  left: 25%;
}

.xs-push-2 {
  left: 16.66666667%;
}

.xs-push-1 {
  left: 8.33333333%;
}

.xs-push-0 {
  left: auto;
}

.xs-offset-12 {
  margin-left: 100%;
}

.xs-offset-11 {
  margin-left: 91.66666667%;
}

.xs-offset-10 {
  margin-left: 83.33333333%;
}

.xs-offset-9 {
  margin-left: 75%;
}

.xs-offset-8 {
  margin-left: 66.66666667%;
}

.xs-offset-7 {
  margin-left: 58.33333333%;
}

.xs-offset-6 {
  margin-left: 50%;
}

.xs-offset-5 {
  margin-left: 41.66666667%;
}

.xs-offset-4 {
  margin-left: 33.33333333%;
}

.xs-offset-3 {
  margin-left: 25%;
}

.xs-offset-2 {
  margin-left: 16.66666667%;
}

.xs-offset-1 {
  margin-left: 8.33333333%;
}

.xs-offset-0 {
  margin-left: 0;
}

@media (min-width: 768px) {
  .sm-1,
  .sm-10,
  .sm-11,
  .sm-12,
  .sm-2,
  .sm-3,
  .sm-4,
  .sm-5,
  .sm-6,
  .sm-7,
  .sm-8,
  .sm-9 {
    float: left;
  }

  .sm-12 {
    width: 100%;
  }

  .sm-11 {
    width: 91.66666667%;
  }

  .sm-10 {
    width: 83.33333333%;
  }

  .sm-9 {
    width: 75%;
  }

  .sm-8 {
    width: 66.66666667%;
  }

  .sm-7 {
    width: 58.33333333%;
  }

  .sm-6 {
    width: 50%;
  }

  .sm-5 {
    width: 41.66666667%;
  }

  .sm-4 {
    width: 33.33333333%;
  }

  .sm-3 {
    width: 25%;
  }

  .sm-2 {
    width: 16.66666667%;
  }

  .sm-1 {
    width: 8.33333333%;
  }

  .sm-pull-12 {
    right: 100%;
  }

  .sm-pull-11 {
    right: 91.66666667%;
  }

  .sm-pull-10 {
    right: 83.33333333%;
  }

  .sm-pull-9 {
    right: 75%;
  }

  .sm-pull-8 {
    right: 66.66666667%;
  }

  .sm-pull-7 {
    right: 58.33333333%;
  }

  .sm-pull-6 {
    right: 50%;
  }

  .sm-pull-5 {
    right: 41.66666667%;
  }

  .sm-pull-4 {
    right: 33.33333333%;
  }

  .sm-pull-3 {
    right: 25%;
  }

  .sm-pull-2 {
    right: 16.66666667%;
  }

  .sm-pull-1 {
    right: 8.33333333%;
  }

  .sm-pull-0 {
    right: auto;
  }

  .sm-push-12 {
    left: 100%;
  }

  .sm-push-11 {
    left: 91.66666667%;
  }

  .sm-push-10 {
    left: 83.33333333%;
  }

  .sm-push-9 {
    left: 75%;
  }

  .sm-push-8 {
    left: 66.66666667%;
  }

  .sm-push-7 {
    left: 58.33333333%;
  }

  .sm-push-6 {
    left: 50%;
  }

  .sm-push-5 {
    left: 41.66666667%;
  }

  .sm-push-4 {
    left: 33.33333333%;
  }

  .sm-push-3 {
    left: 25%;
  }

  .sm-push-2 {
    left: 16.66666667%;
  }

  .sm-push-1 {
    left: 8.33333333%;
  }

  .sm-push-0 {
    left: auto;
  }

  .sm-offset-12 {
    margin-left: 100%;
  }

  .sm-offset-11 {
    margin-left: 91.66666667%;
  }

  .sm-offset-10 {
    margin-left: 83.33333333%;
  }

  .sm-offset-9 {
    margin-left: 75%;
  }

  .sm-offset-8 {
    margin-left: 66.66666667%;
  }

  .sm-offset-7 {
    margin-left: 58.33333333%;
  }

  .sm-offset-6 {
    margin-left: 50%;
  }

  .sm-offset-5 {
    margin-left: 41.66666667%;
  }

  .sm-offset-4 {
    margin-left: 33.33333333%;
  }

  .sm-offset-3 {
    margin-left: 25%;
  }

  .sm-offset-2 {
    margin-left: 16.66666667%;
  }

  .sm-offset-1 {
    margin-left: 8.33333333%;
  }

  .sm-offset-0 {
    margin-left: 0;
  }
}

@media (min-width: 992px) {
  .md-1,
  .md-10,
  .md-11,
  .md-12,
  .md-2,
  .md-3,
  .md-4,
  .md-5,
  .md-6,
  .md-7,
  .md-8,
  .md-9 {
    float: left;
  }

  .md-12 {
    width: 100%;
  }

  .md-11 {
    width: 91.66666667%;
  }

  .md-10 {
    width: 83.33333333%;
  }

  .md-9 {
    width: 75%;
  }

  .md-8 {
    width: 66.66666667%;
  }

  .md-7 {
    width: 58.33333333%;
  }

  .md-6 {
    width: 50%;
  }

  .md-5 {
    width: 41.66666667%;
  }

  .md-4 {
    width: 33.33333333%;
  }

  .md-3 {
    width: 25%;
  }

  .md-2 {
    width: 16.66666667%;
  }

  .md-1 {
    width: 8.33333333%;
  }

  .md-pull-12 {
    right: 100%;
  }

  .md-pull-11 {
    right: 91.66666667%;
  }

  .md-pull-10 {
    right: 83.33333333%;
  }

  .md-pull-9 {
    right: 75%;
  }

  .md-pull-8 {
    right: 66.66666667%;
  }

  .md-pull-7 {
    right: 58.33333333%;
  }

  .md-pull-6 {
    right: 50%;
  }

  .md-pull-5 {
    right: 41.66666667%;
  }

  .md-pull-4 {
    right: 33.33333333%;
  }

  .md-pull-3 {
    right: 25%;
  }

  .md-pull-2 {
    right: 16.66666667%;
  }

  .md-pull-1 {
    right: 8.33333333%;
  }

  .md-pull-0 {
    right: auto;
  }

  .md-push-12 {
    left: 100%;
  }

  .md-push-11 {
    left: 91.66666667%;
  }

  .md-push-10 {
    left: 83.33333333%;
  }

  .md-push-9 {
    left: 75%;
  }

  .md-push-8 {
    left: 66.66666667%;
  }

  .md-push-7 {
    left: 58.33333333%;
  }

  .md-push-6 {
    left: 50%;
  }

  .md-push-5 {
    left: 41.66666667%;
  }

  .md-push-4 {
    left: 33.33333333%;
  }

  .md-push-3 {
    left: 25%;
  }

  .md-push-2 {
    left: 16.66666667%;
  }

  .md-push-1 {
    left: 8.33333333%;
  }

  .md-push-0 {
    left: auto;
  }

  .md-offset-12 {
    margin-left: 100%;
  }

  .md-offset-11 {
    margin-left: 91.66666667%;
  }

  .md-offset-10 {
    margin-left: 83.33333333%;
  }

  .md-offset-9 {
    margin-left: 75%;
  }

  .md-offset-8 {
    margin-left: 66.66666667%;
  }

  .md-offset-7 {
    margin-left: 58.33333333%;
  }

  .md-offset-6 {
    margin-left: 50%;
  }

  .md-offset-5 {
    margin-left: 41.66666667%;
  }

  .md-offset-4 {
    margin-left: 33.33333333%;
  }

  .md-offset-3 {
    margin-left: 25%;
  }

  .md-offset-2 {
    margin-left: 16.66666667%;
  }

  .md-offset-1 {
    margin-left: 8.33333333%;
  }

  .md-offset-0 {
    margin-left: 0;
  }
}

@media (min-width: 1200px) {
  .lg-1,
  .lg-10,
  .lg-11,
  .lg-12,
  .lg-2,
  .lg-3,
  .lg-4,
  .lg-5,
  .lg-6,
  .lg-7,
  .lg-8,
  .lg-9 {
    float: left;
  }

  .lg-12 {
    width: 100%;
  }

  .lg-11 {
    width: 91.66666667%;
  }

  .lg-10 {
    width: 83.33333333%;
  }

  .lg-9 {
    width: 75%;
  }

  .lg-8 {
    width: 66.66666667%;
  }

  .lg-7 {
    width: 58.33333333%;
  }

  .lg-6 {
    width: 50%;
  }

  .lg-5 {
    width: 41.66666667%;
  }

  .lg-4 {
    width: 33.33333333%;
  }

  .lg-3 {
    width: 25%;
  }

  .lg-2 {
    width: 16.66666667%;
  }

  .lg-1 {
    width: 8.33333333%;
  }

  .lg-pull-12 {
    right: 100%;
  }

  .lg-pull-11 {
    right: 91.66666667%;
  }

  .lg-pull-10 {
    right: 83.33333333%;
  }

  .lg-pull-9 {
    right: 75%;
  }

  .lg-pull-8 {
    right: 66.66666667%;
  }

  .lg-pull-7 {
    right: 58.33333333%;
  }

  .lg-pull-6 {
    right: 50%;
  }

  .lg-pull-5 {
    right: 41.66666667%;
  }

  .lg-pull-4 {
    right: 33.33333333%;
  }

  .lg-pull-3 {
    right: 25%;
  }

  .lg-pull-2 {
    right: 16.66666667%;
  }

  .lg-pull-1 {
    right: 8.33333333%;
  }

  .lg-pull-0 {
    right: auto;
  }

  .lg-push-12 {
    left: 100%;
  }

  .lg-push-11 {
    left: 91.66666667%;
  }

  .lg-push-10 {
    left: 83.33333333%;
  }

  .lg-push-9 {
    left: 75%;
  }

  .lg-push-8 {
    left: 66.66666667%;
  }

  .lg-push-7 {
    left: 58.33333333%;
  }

  .lg-push-6 {
    left: 50%;
  }

  .lg-push-5 {
    left: 41.66666667%;
  }

  .lg-push-4 {
    left: 33.33333333%;
  }

  .lg-push-3 {
    left: 25%;
  }

  .lg-push-2 {
    left: 16.66666667%;
  }

  .lg-push-1 {
    left: 8.33333333%;
  }

  .lg-push-0 {
    left: auto;
  }

  .lg-offset-12 {
    margin-left: 100%;
  }

  .lg-offset-11 {
    margin-left: 91.66666667%;
  }

  .lg-offset-10 {
    margin-left: 83.33333333%;
  }

  .lg-offset-9 {
    margin-left: 75%;
  }

  .lg-offset-8 {
    margin-left: 66.66666667%;
  }

  .lg-offset-7 {
    margin-left: 58.33333333%;
  }

  .lg-offset-6 {
    margin-left: 50%;
  }

  .lg-offset-5 {
    margin-left: 41.66666667%;
  }

  .lg-offset-4 {
    margin-left: 33.33333333%;
  }

  .lg-offset-3 {
    margin-left: 25%;
  }

  .lg-offset-2 {
    margin-left: 16.66666667%;
  }

  .lg-offset-1 {
    margin-left: 8.33333333%;
  }

  .lg-offset-0 {
    margin-left: 0;
  }
}
