.table-wrapper{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-top:10px;
    tr.mat-header-row {
        max-height: 42px;
        height: 27px;
    }
    th.mat-header-cell{
        padding:0px 13px;
        border-bottom-width:0px;
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color:#2d3642;
       
        text-align: left;
        padding-left: 0px;
    }
    
          
    td.mat-cell{
        border-bottom-width:0px;
        padding-top:15px;
        padding-bottom: 15px;
    }
    tr.mat-row:nth-child(odd){background-color: #f3f7fa;}
    tr.mat-row{
       
        & .org-list{
                    font-size: 15px;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-stretch: normal;
                    letter-spacing: normal;
                    a{
                        font-size: 15px;
                        font-weight: bold;
                        text-decoration: none;
                        color:#075ab4 !important;
                    }
                }
            .setting{
                position: relative;
                top:2px;
            }    
    }
    tr.mat-row:last-child{
        td.mat-cell{
            border-bottom: 1px solid;
            border-color: #bbbbbb;
        }
    }
}
.icofont-simple-up,.icofont-simple-down{
    font-size: 22px;
}
.icofont-simple-up{
    display: none;
}
[aria-sort='ascending'] {
    
    .icofont-simple-up{
        display: inline;
       
    }
    .icofont-simple-down{
        display: none;
        
    }
  }
  
  [aria-sort='descending'] {
    .icofont-simple-down{
        display: inline;
        
    }
   
  }
  .mat-sort-header-arrow{
      display: none !important;
  }
  .no-results{
    border-bottom: 1px solid #bbbbbb;
    min-height: 128px;

  .your-search-produced {
    font-family: 'Roboto';
    // font-size: 15px;
    font-weight: bold;
    margin: 0 auto;
    padding-top: 54px;
    text-align: center;
  }
}
.itemPage{
    text-align: right;
      padding-right: 4.5%;
      padding-top: 10px;
      padding-bottom: 10px;
}