//    Tree view 

.treeview-controller{
    // border:1px solid #000;
    overflow-y: scroll;
    height: 470px;
    // ul{
    //     list-style: none;
    //     border-bottom: 1px solid #000;
    //     li{
    //         margin-bottom: 0.5rem;
    //         margin-top: 0.5rem;
    //         & .indent{
    //             margin-left:2rem;
    //             }
    //     }
    // }
}
