<div class="revenue-container">
    <div class="revenue-inner-container">
        <div class="revenue">
            <div class="header">Revenue</div>
            <div class="revenue-value">6 570 kr</div>
        </div>
        <div class="assets">
            <div class="header">Total assets</div>
            <div class="revenue-value">1 842 kr</div>
        </div>
        <div class="capital">
            <div class="header">Return on total captial</div>
            <div class="revenue-value">-28.1 %</div>
        </div>
    </div>
    <div class="see-more">
        <p class="see-more-link"><a href="javasript:void(0)">See more ></a></p>
    </div>
</div>