.mat-tab-group {
    margin-bottom: 16px;
    margin-left: 160px;
    margin-right: 16px;
  }

  ::ng-deep {
    .mat-tab-label:focus:not(.mat-tab-disabled) {
      background-color: #fff !important;
      border-top: 1px solid;
      border-left: 1px solid;
      border-right: 1px solid;
      color: #333;
      border-radius: 4px 4px 0 0;
      border-color: #dfdddd;
      outline: #dfdddd !important;
    }
    .mat-tab-body-content {
      background-color: #fff !important;
    }
    .mat-ink-bar {
      height: 100px !important;
      background-color: #fff !important;
      border-top: 1px solid !important;
      border-left: 1px solid !important;
      border-right: 1px solid !important;
      color: #333 !important;
      border-radius: 4px 4px 0 0 !important;
      border-color: #dfdddd !important;
      z-index: -1 !important;
    }

    .mat-tab-header {
      margin-top: 15px;
      border-bottom: 0px !important;
      margin-left: 34px !important;
    }
    .mat-tab-label .mat-tab-label-content {
      font-weight: bold;
      font-size: 16px;
      color: #333;
    }
    .mat-tab-body.mat-tab-body-active {
      overflow-x: hidden !important; 
      overflow-y: hidden !important; 
      z-index:auto !important;
    }
  }
  