<div class="container">
    <app-business-score-search (responseData) = "onResponseData($event)"></app-business-score-search>
    <div class="inner-container">
        <app-creditscore></app-creditscore>
        <div class="right-container">
            <app-basic-info [basicInfoData]='basicInfoData'></app-basic-info>
            <app-board-info></app-board-info>
            <app-revenue-info></app-revenue-info>
            <app-debtinfo></app-debtinfo>
        </div>
    </div>
    <app-tax-information></app-tax-information>
    
</div>
