<div class="debt-container">
    <div class="inner-debt-container">
        <div>
            <div class="header">Sum of current debt</div>
            <div class="debt-value">95 740 kr</div>
        </div>
        <div class="debt-item">
            <div class="header"># of Debt Items</div>
            <div class="debt-value">26</div>
        </div>
        <div>
            <div class="header"># of Remarked Payment</div>
            <div class="debt-value">18</div>
        </div>
    </div>
    <div class="see-more">
        <p class="see-more-link"><a href="javasript:void(0)">See more ></a></p>
    </div>
</div>
