.debt-container {
    width: 543px;
    height: 117px;
    background-color: #fff;
    border: 1px solid;
    border-color: #b9b8b8;
    border-radius: 4px;
    margin-top: -5px;
    margin-bottom: 11px;
}

.inner-debt-container {
    padding: 25px;
    display: flex;
}

.header {
    font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  color: #605c5c;
  margin-bottom: 16px;
}

.debt-value {
    width: 163px;
    font-family: Roboto;
  font-size: 33px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #250e62;
}

.debt-item {
    margin-left: 25px;
}

.see-more {
    text-align: right;
    margin-right: 30px;
    margin-top: -42px;
}

.see-more-link a{
    text-decoration: none;
    color: #a8a8a8;
    font-size: 14px;
    font-weight: bold;
    font-family: Roboto;
}