.credit-container {
    width: 523px;
    height: 492px;
    border: 1px solid;
    border-radius: 4px;
    background-color: #fff;
    border-color: #b9b8b8;
    margin-top: -5px;
}

.credit-inner-container {
    padding: 20px;
}

.header {
    display: flex;
}
.comment {
    margin-left: auto;
}

.foriegn-board {
    margin-left: auto;
    font-family: Roboto;
  font-size: 26px;
  font-weight: bold;
  color: #333;
}

.decision {
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #605c5c;
}

.control {
  font-family: Roboto;
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #18742a;
}

::ng-deep {
  .gauge-chart__label {
    font-size: 66px !important;
    margin-top: -130px !important;
    margin-left: -16px !important;
  }
}

.chart-container {
  margin-top: 35px;
  margin-left: -56px;
}

