<div class="credit-container">
    <div class="credit-inner-container">
        <div class="header">
            <div class="decision">Decision:</div>
            <div class="comment decision">Comment:</div>
        </div>
        <div class="header">
            <div class="control">Control</div>
            <div class="foriegn-board">Missing foreign board</div>
        </div>
        <div class="chart-container">
            <rg-gauge-chart
            [canvasWidth]="canvasWidth"
            [needleValue]="needleValue"
            [centralLabel]="centralLabel"
            [options]="options"
            [bottomLabel]="bottomLabel"></rg-gauge-chart>
        </div>
    </div>
</div>
