<div class="table-container">
    <div class="table-header">
        TAX INFORMATION
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="Taxeringsar">
          <th mat-header-cell *matHeaderCellDef class="table-column"> Taxeringsår </th>
          <td mat-cell *matCellDef="let element" class="table-column"> {{element.Taxeringsar}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="savings">
          <th mat-header-cell *matHeaderCellDef class="table-cell"> 2018 <i class="fas fa-angle-down"></i> </th>
          <td mat-cell *matCellDef="let element" class="table-cell"> {{element.savings}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="debt">
          <th mat-header-cell *matHeaderCellDef class="table-cell"> 2017 <i class="fas fa-angle-down"></i></th>
          <td mat-cell *matCellDef="let element" class="table-cell"> {{element.debt}} </td>
        </ng-container>
      
       
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>
