table {
    width: 100%;
    box-shadow: none;
  }

  .table-container {
    width: 99%;
    border: 1px solid #c7c7c7;
    border-radius: 4px;
  }

  .table-header {
      background-color: #fff;
      padding-top: 30px;
      padding-left: 23px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #250e62;
  }

  .table-column {
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333;
  }
  .table-cell {
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333;
  }

  .mat-row:nth-child(even){
    background-color: #fff;
}
        
.mat-row:nth-child(odd){
    background-color: #e9e8eb;
}

td.mat-cell{
    border-bottom-style: none;
}

th.mat-header-cell{
    border-bottom-style: none;
}