<div class="basic-info-container">
    <div class="first-container">
        <div class="first-inner-container">
            <div class="basic-header">Names on the board</div>
            <div class="basic-detail">
                <p class="basic-line-detail">Staaf boden</p>
                <p class="basic-line-detail">Kjell Johan Birger</p>
            </div>
        </div>
        <div class="first-inner-container address-container">
            <div class="basic-header">Function:</div>
            <div class="basic-detail">
                <p class="basic-line-detail">Styrelseledamot</p>
            </div>
        </div>
        <div class="first-inner-container board-container">
            <div class="basic-header">Tillträdelsedatum::</div>
            <div class="basic-detail">
                <p class="basic-line-detail">2017-02-26</p>
            </div>
        </div>
    </div>
    <div class="see-more">
        <p class="see-more-link"><a href="javasript:void(0)">See more ></a></p>
    </div>
    
    
</div>