.header {
    height: 68px;
    display: inline-flex;
    background-color: #fff;
    position:absolute;
    top:0;
    right: 0;
    left:0;
}

.header-content {
    display: flex;
    margin-left: auto;
    margin-top: 20px;
    margin-right: 35px;
}

.credit-check {
    margin-right: 30px;
}

.lang {
    margin-right: 30px;
}
.cred-check-content {
    margin-right: 15px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    color: #250e62;
}

