

<div *ngIf="typeMsg.type=='error'" class="error">
  <i class="icofont-exclamation-tringle tringle-align"></i>
  <div *ngFor="let Msg of typeMsg.msg" class="error_msg">

    {{Msg | translate}}
  </div>

  <i class="icofont-close-line close-icon-design" (click)="closeToast()"></i>
  <!-- </span> -->
</div>
<div *ngIf="typeMsg.type=='success'" class="success">
  <span>
    <i class="icofont-check-circled check-align"></i>
    {{typeMsg.msg}}
    <i class="icofont-close-line close-icon-design" (click)="closeToast()"></i>
  </span>
</div>
