.business-score-container {
    width: 1074px;
    min-height: 183px;
    background-color: #fff;
    border: 1px solid;
    border-color: #b9b8b8;
    border-radius: 4px;
    margin-top: -5px;
    margin-bottom: 11px;
}

.business-inner-container {
    padding: 16px;
}

.business-score-header {
    display: flex;
}

.business-score-label {
    font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  width: 142px;
  color: #250e62;
}

.business-score-content {
    font-family: Roboto;
    font-size: 14px;
    width: 900px;
    margin-left: 80px;
    color: #acacac;

}
.org-num-form {
    display: flex;
}

.org-num {
    margin-top: 37px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.org-num-input input {
   
    margin: 12px 15px 0 0;
  padding: 16px 31px 16px 22px;
  border: solid 1px #979797;
}

.org-btn {
    width: 140px;
  height: 36px;
  margin: 17px 625px 13px 15px;
  padding: 8px 34px 9px 18px;
  background-color: #250e62;
  color: #fff;
  font-size: 13px;
}

.disable-org-btn {
    width: 140px;
  height: 36px;
  margin: 17px 625px 13px 15px;
  padding: 8px 34px 9px 18px;
  background-color: #d6d6d6;
  color: #fff;
  font-size: 13px;
}

.search-icon {
    margin-right: 15px;
}

.business-score-link {
    margin-left: -99px;
    line-height: normal;
    width: 115px;
}

.score {
    margin-bottom: 9px;
}

.score a {
    text-decoration: none;
    color: #075ab4;
    font-size: 14px;
    font-weight: bold;
    font-family: Roboto;
}

.advance-search a {
  text-decoration: none;
  color: #a8a8a8;
  font-size: 14px;
  font-weight: bold;
  font-family: Roboto;
}

.astric {
    color: #ff8674
}

.invalid-feedback {
    color : red;
    font-size: 13px;
}

.mat-progress-spinner {
    margin-top: -5px;
    margin-left: 40px;
}

::ng-deep {
    .mat-progress-spinner circle, .mat-spinner circle {
        stroke: #ffffff !important;
    }
}
