<div class="business-score-container">
    <div class="business-inner-container">
        <div class="business-score-header">
            <div class="business-score-label">Business Score</div>
            <div class="business-score-content">Note that when information is obtained about a social security number, a legitimate need must exist. A copy of the information will be sent to the person in question. This also applies to entrepreneurs and companies. When searching for a company that requires notification letter (EF, KB, HB). 
            </div>
        </div>
        <form [formGroup] = "organizationForm" novalidate autocomplete="off" (ngSubmit) = "onSearch()">
        <div class="org-num">Organization numbers<span class="astric">*</span></div>
        <div class="org-num-form">
            
                <div class="org-num-input"><input type="text" formControlName = "orgNo" placeholder="EF 22222-2222" />
                    <div *ngIf="organizationForm.controls.orgNo.errors && (organizationForm.controls.orgNo.dirty || organizationForm.controls.orgNo.touched)" class="invalid-feedback">
                        <div *ngIf="organizationForm.controls.orgNo.errors.required">Enter valid Organization Number.</div>
                    </div>
                </div>
                <div>
                    <button [disabled]="!organizationForm.valid" [ngClass]="{'disable-org-btn' : !organizationForm.valid}" class="org-btn">
                       <span *ngIf = 'showLoader'>
                        <mat-spinner class="spinner-btn" [diameter]="25" color="#fff"></mat-spinner></span>

                       <span *ngIf='!showLoader'> <i class="fa fa-search search-icon" aria-hidden="true"></i>SEARCH</span>
                    </button>
                </div>
                
            <div class="business-score-link">
                <div class="score"><a href='javascript:void(0);'>Score ></a></div>
                <div class="advance-search"><a href='javascript:void(0);'>Advance Search ></a></div>
            </div>
        </div>
    </form>
    </div>
</div>
