/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body { background-color: #eee !important; }


/*
 *
 *   EGRET - Angular Material Design Admin Template
 *
 *
*/
// Sidebar Scroll
/*@import '~perfect-scrollbar/css/perfect-scrollbar.css';*/

// Page loader Topbar
/*@import '../../vendor/pace/pace-theme-min.css';*/

// Third pirty style files
/*@import "scss/reset"; //REQUIRED ONLY FOR RESET CSS*/

// Main Variables File
@import "scss/variables";



// Open _main.scss and keep files which are required for your current layout.
@import "scss/main";


.right{
    float:right;
}

.ptop-29{
    padding-top: 29px
}

.mtop-28{
    margin-top: 28px;
}
.pbtom-22{
    padding-bottom: 22px;
}

//  .treeview-container .treeview-item .treeview-item{
//      margin-left: 2rem;
//  }
 
 .side-navbar .mat-list .mat-list-item .mat-list-item-content, .mat-list .mat-list-option .mat-list-item-content, .mat-nav-list .mat-list-item .mat-list-item-content, .mat-nav-list .mat-list-option .mat-list-item-content, .mat-selection-list .mat-list-item .mat-list-item-content, .mat-selection-list .mat-list-option .mat-list-item-content{
    padding: 0 !important;
}
.test {
    white-space: pre-line !important;
    // color: blue !important;
  }
  .mat-drawer-content{
      background-color:#fff !important
  }