/* 
* REQUIRED STYLES 
*/
// @import "main/scaffolding";
// @import "main/typography";
// @import "main/layout";
// @import "main/header";
// @import "main/sidenav"; 

/*
* ALTERNATIVE STYLES
*/
@import "main/sergel";//responsive ONLY FOR ALL PAGE
@import "main/icofont";//REQUIRED ONLY FOR FONT
@import "main/font";//REQUIRED ONLY FOR FONT FAMILLY
/*@import "main/breadcrumb"; // REQUIRED ONLY FOR BREADCRUMBS
@import "main/notifications"; // REQUIRED ONLY FOR NOTIFICATIONS*/

@import "main/sidebar"; // REQUIRED ONLY FOR SIDE NAVIGATION LAYOUT
@import "main/header-side"; // REQUIRED ONLY FOR SIDE NAVIGATION LAYOUT

@import "main/topnav"; // REQUIRED ONLY FOR TOP NAVIGATION LAYOUT
@import "main/header-top"; // REQUIRED ONLY FOR TOP NAVIGATION LAYOUT

@import "main/grid"; // REQUIRED ONLY FOR GRID BASE
@import "main/responsive"; //responsive
@import "main/toast"; // REQUIRED ONLY FOR Toast LAYOUT
/*@import "main/tab"; // REQUIRED ONLY FOR TAB LAYOUT
@import "main/button"; // REQUIRED ONLY FOR BUTTON LAYOUT
@import "main/forms"; // REQUIRED ONLY FOR FORM LAYOUT
@import "main/table"; // REQUIRED ONLY FOR FORM LAYOUT

@import "main/treeview"; // REQUIRED ONLY FOR Toast LAYOUT*/
body{
    /*margin-bottom: 60px;*/
}
html, body {
  height: 100%;
  max-height: 100%;
  background-color: #fff;
  margin:0;
}
.mat-drawer-container{
  z-index:inherit !important;
}
.main{
  background-color:#fff;
}
